<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			



			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-primary painel">
						<div class="panel-heading">
							Abertura de Ocorrencia
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">Registro de dados iniciais <a href="#!/RegistroInicial" class="btn btn-success" style="margin-left:10%"><span class="glyphicon glyphicon-pencil"></span></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="panel panel-primary painel">
						<div class="panel-heading">
							Acompanhamento
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">Registro do ocorrido<a href="#!/RegistroDetalhes" class="btn btn-success" style="margin-left:10%"><span class="glyphicon glyphicon-pencil"></span></a></li>
								<li class="list-group-item">Registro de imagens<a href="#!" class="btn btn-success" style="margin-left:10%"><span class="glyphicon glyphicon-pencil"></span></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="panel panel-primary painel">
						<div class="panel-heading">
							Finalização
						</div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">Impressão de relatórios<a href="#!" class="btn btn-success" style="margin-left:10%"><span class="glyphicon glyphicon-pencil"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							Atendimentos
						</div>
						<div class="panel-body">
							<table class="table">
								<th>
									<td>ID</td>
									<td>NATUREZA DA OCORRENCIA</td>
									<td>DATA/HORA</td>
									<td>SOLICITANTE</td>
									<td>FONE</td>
									<td>ATENDENTE</td>
								</th>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>