<!DOCTYPE html>
<html ng-controller="RegistroInicialCtrl">
<head>
	<title>REGISTRO DE OCORRENCIAS</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron" style="width:800px">
			<div class="row">
				<div class="col-md-4">
					<label>Hora de Chegada</label>
					<input type="date" class="form-control" placeholder="Hora de chegada"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label>Situação encontrada</label>
					<input type="text" class="form-control" placeholder="Situação encontrada"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label>Descrição da ocorrência</label>
					<textarea class="form-control"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label>Causa da ocorrência</label>
					<input type="text" class="form-control" placeholder="Causa da ocorrência"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label>Parecer da defesa civil</label>
					<input type="text" class="form-control" placeholder="parecer da defesa civil"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<label>Grau de Risco</label>
					<select class="form-control">
						<option>Pequeno</option>
						<option>Médio</option>
						<option>Grande</option>
					</select>
				</div>
				<div class="col-md-8">
					<label>C/c</label>
					<input type="text" class="form-control" placeholder="C/c"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label>Outros utilizados</label>
					<input type="text" class="form-control" placeholder="Outros utilizados"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<label>Hora de término</label>
					<input type="text" class="form-control" placeholder="Solicitante"/>
				</div>

				<div class="col-md-8">
					<label>SubCooredenador da defesa civil</label>
					<input type="text" class="form-control" placeholder="SubCooredenador da defesa civil"/>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-10"></div>
				<div class="col-md-2">
					<button class="btn btn-primary">Salvar <span class="glyphicon glyphicon-floppy-disk"></span></button>
				</div>
			</div>
		</div>

	</div>
</body>
</html>