<!DOCTYPE html>
<html ng-controller="RegistroInicialCtrl">
<head>
	<title>REGISTRO DE OCORRENCIAS</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron" style="width:800px">
			<div class="row">
				<div class="col-md-10">
					<label>Natureza da ocorrência</label>
					<input type="text" class="form-control" placeholder="natureza da ocorrência"/>
				</div>

				<div class="col-md-2">
					<label>Número</label>
					<input type="text" class="form-control" placeholder="Número"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label>Local</label>
					<input type="text" class="form-control" placeholder="Local"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Número</label>
					<input type="text" class="form-control" placeholder="Número"/>
				</div>

				<div class="col-md-7">
					<label>Bairro</label>
					<input type="text" class="form-control" placeholder="Bairro"/>
				</div>

				<div class="col-md-3">
					<label>CEP</label>
					<input type="text" class="form-control" placeholder="CEP"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label>Solicitante</label>
					<input type="text" class="form-control" placeholder="Solicitante"/>
				</div>

				<div class="col-md-3">
					<label>RG</label>
					<input type="text" class="form-control" placeholder="RG"/>
				</div>

				<div class="col-md-3">
					<label>FONE</label>
					<input type="text" class="form-control" placeholder="Bairro"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Data</label>
					<input type="date" class="form-control" placeholder="Data"/>
				</div>

				<div class="col-md-2">
					<label>Hora</label>
					<input type="time" class="form-control" placeholder="Hora"/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10"></div>
				<div class="col-md-2">
					<button class="btn btn-primary">Salvar <span class="glyphicon glyphicon-floppy-disk"></span></button>
				</div>
			</div>
		</div>

	</div>
</body>
</html>